body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
}

#footer {
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}

#map-container {
    display: flex; 
    height: 100vh;
}

#map {
    height: 100%;
    flex-grow: 1; /* Map takes up the remaining space */
}

#controls {
    width: 250px; /* Fixed width for controls */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Padding inside the controls */
}

/* Make info-container the same width as controls */
#info-container {
    margin-top: 10px; /* Consistent padding with controls */
    display: flex;
}

/* Make selected-image-container take up the remaining space like the map */
#selected-image-container {
    flex-grow: 0;
    flex-basis: calc(100% - 250px - 20px);
    padding: 10px; /* Consistent padding with map */
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-info {
    width: 250px; /* Same width as controls */
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

#selected-image {
    width: 100%; /* Image spans the full width of its container */
    height: auto; /* Maintain aspect ratio */
    display: block;
}

/* ... rest of the existing styles ... */

/* Styles for left-aligned controls and checkboxes */
.left-aligned-controls {
    align-items: flex-start;
}

.left-aligned-controls .month-checkbox,
.left-aligned-controls label {
    align-self: flex-start;
    font-size: 0.8em;
    margin-bottom: 5px;
}

/* Styles for the select dropdown */
#controls select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Styles for the button container and buttons */
.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 10px;
}

.button-container button,
#reset {
    background-color: #007bff;
    color: white;
    border: 1px solid #333;
    padding: 10px;
    margin: 0 2px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 0;
    box-shadow: none;
}

.button-container button:hover {
    background-color: #0056b3;
}
#reset:hover {
    background-color: #9b2833;
}

#reset {
    background-color: #dc3545;
}

.button-container button:active,
.button-container button:focus,
#reset:active,
#reset:focus {
    outline: none;
}

#current-date-display {
    margin: 10px;
    border: 1px solid #333;
    padding: 20px;
    width: 70%;
    text-align: center;
}

#menu {
    width: 100%;
    overflow: hidden;
    line-height: 1.6;
}

#menu ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

#menu li {
    display: inline;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #0056b3;
    font-family: Arial, sans-serif;
    text-decoration: underline;
}

a:hover {
    color: #8000b3;
    text-decoration: underline;
}